
/* popup css  */
.galleryer {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* gap: 10px; */
  }
  .galleryer a {
    width: 200px;
    /* display: block; */
  }
  .galleryer img {
    /* width: 100%; */
    /* height: auto; */
    width: 100%;
    object-fit: cover;
    /* border: 1px dashed rgba(0, 185, 142, 0.909) !important; */
    border-radius: 15px;
    /* box-shadow: rgb(224, 183, 159) 0px 2px 8px 0px,rgba(210, 119, 66, 1) 0px 2px 10px 0px; */

    display: block;
    /* border-radius: 8px; */
    /* transition: transform 0.3s; */
  }
  .galleryer img:hover {
    /* transform: scale(1.05); */
  }
