
*,
*::before,
*::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
}


/* Button Styling */
.open-btnn {
    cursor: pointer;
    /* background-color: #8b9eb7; */
    padding: 5px 10px;
    width: 100px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: #a5a0a0c2;
    /* border: none; */
    /* border-radius: 30px; */
    border:solid 1px #d3cbcbc2;
    margin-bottom: 10px;

}

.btttt {
    margin-left: 20px;
    border: none;

}

.banner-wrapper{
    /* padding-top: 100px; */
    padding: 5rem 0;
}

:root{
    /**
    *COLORS
    */
    --white: #ffffff;
    --yellow: #f6bd26;
    --primary-color: #008afc;
    --primary-90: #1e6de5;
    --primary-80: #1b61cc;
    --primary-70: #1755b2;
    --primary-40: #0d3166;
    --primary-20: #071833;
--light-pink-color: #FFFCF8;
--light-color: #CCCCCC;
--BLACK-color: #000;
--white-color: #fff;
--box-shadow: 0.1rem -0.07rem 1.5rem 0.3rem rgba(0 0 0 / 26%);
    --secondary-color: #014ebc;
    --secondary-20: #073333;
    --new-100-: #fafcff;
    --new-98-: #f2f5fa;
    --new-95-: #e9ecf2;
    --new-90-: #dadfe5;
    --new-80-: #c2c6cc;
    --new-60-: #919499;
    --new-50-: #797c80;
    --new-40-: #616366;
    --new-30-: #494a4d;
    --new-20-: #303133;
    --new-10-: #18191a;
    --new-5-: #0c0c0d;
    --error-100-: #ff2134;


    --primary-font: 'Lato', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;


    --shadow-1: 0px 2px 4px 0px #00000033;
    --shadow-2: 0px 5px 10px 0px #0000000d;
    --shadow-3: 0px 5px 10px 0px #00000033;
    --shadow-4: 0px 10px 20px 0px #0000001A;


    /* transition  */

    --transition-quick: cubic-bezier(0, 0.7, 0.3, 1);
    --transition-smooth: 500ms;
    --transition-duration: 200ms;


}

li {
    list-style: none;
}

a,
img,
span,
input,
select,
button {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: auto;
}


button {
    cursor: pointer;
}




html,
body {
  font-size: 10px !important;
  font-weight: 400 !important;
  /* font-family: var(--primary-font) !important; */
  overflow-x: hidden !important;
  scroll-behavior: smooth !important;
  line-height: 1.5 !important;
}
h1{
    font-size: 55px !important;
    color: var(--BLACK-color) !important;
    /* font-weight: 800 !important; */
    /* font-family: var(--secondary-font) !important; */
    display: inline-block !important;
    text-transform: uppercase !important;
    line-height: 1.4 !important;
    margin-bottom: 2rem !important;
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 792;
  font-style: normal;
}
h2{
    font-size: 25px !important;
    color: var(--white-color) !important;
    font-weight: 700 !important;
    /* font-family: var(--secondary-font) !important; */
    
    display: inline-block !important;
    text-transform: uppercase;
    /* line-height: 1.4 !important; */
    /* margin-bottom: 2rem !important; */
    

  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 792;
  font-style: normal;
}
.title-h2{
     font-size: 50px !important;
    font-weight: 700 !important;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block !important;
    text-transform: uppercase;
   
      color: #353536 !important;


  /* font-family: "EB Garamond", serif; */
  font-optical-sizing: auto;
  font-weight: 792;
  font-style: normal;
}
@media screen and (max-width:700px){
    .title-h2{
     font-size: 30px !important;
    font-weight: 700 !important;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block !important;
    text-transform: uppercase;
   
      color: #353536 !important;


  /* font-family: "EB Garamond", serif; */
  font-optical-sizing: auto;
  font-weight: 792;
  font-style: normal;
}
}
a{
   font-size: 18px;
    margin-top: 1rem !important;
  
  font-family: "Sen", sans-serif  !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #0a0a0b !important;
  /* 65676b */
}

h2 span{
    color: var(--primary-color) !important;
}
h3{
    font-size: 30px  !important;
    color: var(--white-color) !important;
    font-weight: 800 !important;
    font-family: var(--secondary-font) !important;
   
    line-height: 1.4 !important;
    margin-bottom: 1rem !important;
}
h4{
    font-size: 30px !important;
    /* color: var(--white-color) !important; */
    font-weight: 800;
    color: black;
    font-family: var(--secondary-font) !important;
   
    line-height: 1.4 !important;
    margin-bottom: 1rem !important;
}
h5{
    font-size: 16px !important;
    color: var(--white-color) !important;
    font-weight: 300;
    font-family: var(--secondary-font) !important;
   
    line-height: 1.5 !important;
    margin-bottom: 0.9735rem !important;
    text-transform: uppercase !important;
}

.subtitle{
    font-size: 25px;
    margin: 0 0 15px;
 font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #595b5d !important;}
p{
    font-size: 18px;
    /* margin-top: 1rem !important; */
  
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #595b5d !important;
  /* 65676b */

}
.high{
    font-size: 14px;
    /* margin-top: 1rem !important; */
  
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #595b5d !important;
  /* 65676b */

}
a,
:active,
a:focus,
a:hover,
.btn:focus{
    text-decoration: none;
    box-shadow: none;
    outline: none;
}
.bg-black{
    background-color: var(--BLACK-color) !important;
}
.main-btn {
     text-decoration: none;
    padding: 10px 30px !important;
    border-radius: 3px !important;
    /* border: 1px solid #0e0a0a; */
      /* background: linear-gradient(149deg, #161d16 15%, #ff0832 100%); */
color: #ede9e9 !important;
        font-family: "Inter", serif !important;
        font-size: large !important;
        background-color: red !important;

}
@media screen and (max-width:600px){
    .main-btn{
        margin-top: 10px;
    }
    .h2-text h2{
        margin-bottom: 10px;
    }
      .h2-text p{
        margin-top: 5px;
    }
}
.main-btnn{
      text-decoration: none;
    padding: 7px 30px !important;
    border-radius: 3px !important;
    /* border: 1px solid #0e0a0a; */
      /* background: linear-gradient(149deg, #161d16 15%, #ff0832 100%); */
color: #ede9e9 !important;
        font-family: "Inter", serif !important;
        font-size: large !important;
        background-color: rgb(129, 134, 134) !important;
}
.main-btn:hover{
    /* border: white 1px solid !important; */
}








/* navbar css start  */
/* hover effect */
.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    /* font-weight:bolder; */
    position: relative;
    color: white;
        font-family: "Inter", serif;

    font-size: 25px;
    /* background-color: #fff; */
}

.nav-link:hover,
.nav-link.active {
    color: green;
}

@media (min-width: 991px) {
    .nav-link::before {

        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 2px;
        background-color: green;
        visibility: hidden;
        transition: 0.4s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link::before {

        width: 100%;
        visibility: visible;
    }
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 1.5px;
    background: linear-gradient(149deg, #161d16 15%, #ff0832 100%);
    ;
    visibility: hidden;
    transition: 0.4s ease-in-out;
}
.like a{
      font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(149deg, #161d16 7%, #ff0832 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link:hover::before {
    width: 100%;
    visibility: visible;
}

.nav-item .nav-link:hover {
 
    font-family: "Inter", serif;
    /* font-size: 20px; */
    /* font-weight: 600; */
    background: linear-gradient(149deg, #161d16 15%, #ff0832 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-item{
    font-size: 1.4rem;
}
.kite{
   font-family: "Inter", serif;
    font-size: xx-large;
    font-weight: bold;
    background: linear-gradient(149deg, #161d16 15%, #ff0832 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-transform: uppercase; */
}


.sh-title h2{
    font-size: 26px;
    color: #333;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(149deg, #161d16 15%, #ff0832 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}






.Aman {
    /* background-image: var(--gradient); */
    /* background-color: #083d3d; */
    box-shadow: var(--shadow-4);
    background-color: #fff;
    color: black;

}

.nav-item .nav-link {
    color: #020202;
    font-size: 17px;
}

.Aman {
    /* background-color: rgba(86, 82, 82, 0.881); */
    /* padding: 8px; */
    /* border-radius: 40px; */
    /* background: transparent; */
}

.navbar-toggler-icon {
    color: #fff;
}

.navbar {
    /* margin: 20px; */
    padding: 1.5rem 0 !important;
    box-shadow: var(--shadow-4) !important;
}

.nav-link {
    font-size: small;
}


.button a{
    text-decoration: none;
    padding: 10px 20px !important;
    border-radius: 3px;
    /* border: 1px solid #0e0a0a; */
      /* background: linear-gradient(149deg, #161d16 15%, #ff0832 100%); */
      background-color: red;
color: #fff !important;
        font-family: "Inter", serif !important;
        font-size: 16px !important;
    /* font-size: x-large;
    font-weight: bold;
    background: linear-gradient(149deg, #161d16 15%, #ff0832 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.kite{
    
}
.sec-title h1{
    position: relative;
}
.sec-title h1::after{
    position: absolute;
    content: '';
      /* background: linear-gradient(149deg, #161d16 15%, #ff0832 100%); */
      width: 50%;
      height: 50%;
      bottom: 0;
      opacity: 0.5;
      right:-0.4rem;
}
.dropdown-menu{
    min-width: 15rem !important;
    padding: 1.5rem 0 !important;
    background-color: var(--BLACK-color) !important;
    border: 0.2rem solid linear-gradient(149deg, #161d16 15%, #ff0832 100%) !important;
}
.dropdown-item{
    line-height: 1.3 !important;
    padding: 1rem !important;
    font-size: 1.3rem !important;
    color: white !important;
    font-weight: 600 !important;
    font-family: var(--secondary-font);
}
.dropdown-toggle::after{
    content: '+' !important;
    border: none !important;
    vertical-align: middle !important;
    font-size: 1.6rem !important;
    font-weight: bold !important;
}
.dropdown-item:focus,
.dropdown-item:hover{
    background: transparent !important;
    color: #161d16 15%, #ff0832 100% !important;
}
.img-hero{
    mix-blend-mode: darken;
}
.banner-wrapper{
    /* margin-top: 2rem; */
    /* background-image: url(https://cdn.vectorstock.com/i/1000v/85/26/black-gold-real-estate-logo-vector-46378526.jpg); */
    background-color: rgb(246, 248, 247);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: auto; */
    padding-bottom: 5rem;
    height: 100vh;
}
.parallax{
    position: relative !important;
    background-position: left !important;
    background-size: 48% !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    display: inline-block !important;
    align-items: center !important;
    width: 100% !important;
    height: 100vh !important;

}
.parallax-1{
    position: relative !important;
    background-position: right !important;
    background-size: 48% !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    display: inline-block !important;
    align-items: center !important;
    width: 100% !important;
    height: 100vh !important;
    
}
.parallax-main{
      position: relative !important;
    background-position: right !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    display: inline-block !important;
    align-items: center !important;
    width: 100% !important;
    height: 100vh !important;
}
.parallax.img-1{
    background-image: url(image/images/banner/Banner-1.jpg) !important;
    height: 100%;
}
.parallax.img-2{
    background-image: url(https://i.pinimg.com/736x/97/be/bf/97bebfbbeb9ba1d7f96493d6556648b1.jpg) !important;
    height: 608px;
}
.parallax.img-3{
    background-image: url(https://i.pinimg.com/736x/e7/a7/c7/e7a7c71c2e27c8d48a94998ce2f3838e.jpg) !important;
    height: 608px;
}
.parallax .img-4{
    background-image: url(https://i.pinimg.com/736x/6e/96/ff/6e96ff797d03b65401bef58dd27f1ad7.jpg) !important;
    height: 608px;
}
.parallax.img-5{
    background-image: url(https://i.pinimg.com/736x/5c/b2/12/5cb212bb9efc0ca159671b0bc1af5549.jpg) !important;
    height: 608px;
}
.main-wrapper{
    margin-top: 80vh;
    background-color: white;
    width: 100%;
}
.black-card{
position: absolute !important;
top: 20% !important;
left: -400px !important;
width: calc(100% - 20%) !important;
box-shadow: var(--box-shadow) !important;
background-color: #000 !important;
padding: 2.5rem !important;
text-align: left !important;
z-index: 1 !important;
}
@media screen and(max-width:700px){
    .black-card{
        top: 10% !important;

    }
}
.right{
    right: -400px !important;
    left: unset !important; 
}
.process-wrapper{
    background-color: #000;
}
.process-wrapper h1{
    color: #fff !important;
}
.process-content{
    padding: 4rem 6rem;
    position: relative;
}
.process-content::after{
    position: absolute;
    content: '';
    /* width: 40%; */
    margin: auto;
    bottom: 0;
    border-bottom: 0.1rem solid white;
}
.process-content span{
    color: var(--primary-color) !important;
    font-size: 7rem;
    font-weight: 800;
    margin-right: 2rem;
}
.work-wrapper{
    background-color: #000 !important;
}
.work-wrapper h1{
        color: #fff !important;

}
.testimonial-wrapper h2{
    color: white !important;
}
.testimonial-wrapper .cardn i{
color: var(--yellow) !important;
font-size: 1.4rem !important;
}

.card{
    outline: none;
}
.testimonial-wrapper .cardn{
    border: none !important;
    background-color: white !important;
    box-shadow: var(--box-shadow) !important;
    border-radius: 1rem !important;
    margin: 2rem !important;
    padding: 4rem 2rem !important;
}
.testimonial-wrapper{
    background-color: #000 !important;
}
.testimonial-wrapper .cardn p{
    color: var(--BLACK-color) !important;
}
.testimonial-wrapper .cardn h5{
    color: var(--BLACK-color) !important;
    font-weight: 700;
}
.testimonial-wrapper .carousel-indicators{
    margin-bottom: 10rem;
}



@media screen and (max-width:700px) {
   .testimonial-wrapper h2{
    color: white !important;
  padding-top: 20px;
    padding-bottom: 20px;}

      .testimonial-wrapper .carousel-indicators{
    /* margin-bottom: 6rem; */
        margin-bottom: 0rem;



}
}

.testimonial-wrapper .carousel-indicators button{
    width: 1rem;
    height: 1rem;border-radius: 50%;
    background-color: #000;
}
.footer-wrapper{
        background-color: #000;

}
.footer-logo img{
    width: 15rem !important;
    height: auto;
    object-fit: cover;
}
.footer-wrapper h5{
    color: var(--white-color) !important;
    margin-bottom: 2rem !important;
    font-weight: 600 !important;
    text-transform: capitalize !important;
    font-size: 2rem !important;
}
.footer-wrapper h5 a{
        color: var(--white-color) !important;
text-decoration: none;
}
.footer-wrapper ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.footer-wrapper ul li{
    margin-right: 1.5rem;
}
.footer-wrapper .copyright-section p{
    margin: 0;
    padding: 3rem 0;
    text-align: center;
}
.whatsapp-icon{
    position: relative !important;
    cursor: pointer;
}
.whatsapp{
    background-color: red;
    padding: 15px;
    border-radius: 50%;
    color: #fff;
    font-weight: 500;
/* 
    line-height: 45px; */
    color: #fff;
    /* border-radius: 25px; */


}
.whatsapp-icon .whatsapp{
    position: fixed !important;
    /* width: rem !important; */
    z-index: 1 !important;
    bottom: 1rem !important;
    right: 1.5rem !important;
}
.whatsapp-icon .whatsapp img{
    width: 5.5rem !important;
}
.abilities-wrapper ul{
    padding: 0;
}
.abilities-wrapper h3{
    color: var(--BLACK-color) !important;
}
.abilities-wrapper ul li p{
    color: #000 !important;
}
.team-wrapper{
    background-color: #073333;
}
.team-img{
width: 15rem !important;
height: 15rem !important;
margin: 0 auto !important;
border-radius: 50% !important;
border: 0.5rem solid rgb(8, 192, 8) !important;
}
.team-img img{
    border-radius: 50%;
}
.team-detail h5{
    font-weight: 800 !important;
    color: var(--BLACK-color) !important;
    margin-bottom: 0 !important;
    padding-top: 1.5rem !important;
}
.team-detail p{
    /* font-weight: 800 !important; */
    color: var(--BLACK-color) !important;
    margin: 0 !important;
    /* padding-top: 1.5rem !important; */
}
.contact .get-in-touch .cardn{
    background-color: white !important;
    min-height: 36rem !important;
    padding: 3rem !important;
    border-radius: 2rem !important;
    box-shadow: var(--box-shadow) !important;
    text-align: center !important;
}
.contact .cardn i{
    font-size: 8rem !important;
    margin-bottom: 3rem !important;
}
.contact .cardn h4{
   
    font-weight: 800 !important;
}
.contact .cardn p{
   color: var(--BLACK-color) !important;
}
.contact .cardn p:last-child{
font-family: var(--secondary-font) !important;
font-weight: 700 !important;
}
.form-section{
    padding: 10rem !important;
    background-color: #000 !important;
    box-shadow: var(--box-shadow) !important;
    border-radius: 2rem !important;
}
.form-control{
    box-shadow: none !important;
    border-color: var(--light-color) !important;
}
.form-control{
height: 4rem !important;    border:0.1rem solid var(--light-color) !important;
font-size: 1.5rem !important;

}

/* Popup Modal */
.popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 20px;
    /* background: rgb(173, 162, 162); */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    /* text-align: center; */
    z-index: 1000;
    margin-top: 45px;
    background-color: rgb(22, 22, 32);
    /* border-radius: 25% 10px; */
    /* background: transparent; */
    /* background-color: #589599f5; */
    /* background: var(--gradient); */
    /* background: #e3daeab9; */
/* background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(230, 35, 58, 1) 0%, rgba(240, 32, 67, 0.78) 0%, rgba(253, 29, 29, 0.71) 8%, rgba(252, 176, 69, 0.81) 100%); */
    /* background: linear-gradient(90deg,  rgba(115, 65, 36, 1) 0%, rgba(210, 119, 66, 1) 80%, rgba(217, 123, 68, 1) 100%); */
}

@media screen and (max-width:400px) {
    .popup {
        width: 310px;
    }
}

.form-blockK input{
    border-radius: 0;
    outline: none;
    border: 2px solid #0a0909fa;
    background-color: rgba(23, 23, 220, 0.009);
    font-size: 1rem;
    color: white;

    
}
.form-blockK input:hover{
    border: 2px si;
}
/* Overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Close Button */
/* .close-btn{
    background: rgb(17, 255, 0);
    color: rgb(8, 8, 8);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 20px;
}

.close-btn:hover {
    background: darkred;
    color: #fff;
} */

#close{
    display: block;
    margin: 0px 0px 0px auto;
    background-color: transparent;
    font-size: 30px;
    font-weight: 500;
    padding-left: 90px;
    outline: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    /* background-color: #fff; */
    border: none;
}

/* contacyt css sectipn start  */
body,
html {
    height: 100%;
    margin: 0;
}




.background {
    background-image: url(https://img.freepik.com/free-photo/abstract-backdrop-ink-watercolor-creates-vibrant-grunge-design-generated-by-ai_188544-15563.jpg);
    background-size: cover;
    height: 100%;
    display: flex;
    /* padding: 80px; */
    background-position: center;
    justify-content: center;
    padding-top: 80px;
        padding-bottom: 80px;

    align-items: center;

}

.booking-form {

    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 10px;
    box-shadow: 2px 1px 10px;
    /* flex-direction: column; */
    max-width: 700px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;



}
.booking-form:hover{
    /* border: 2px solid rgb(239, 84, 110); */
}



.background input{
    /* width: 100%;
    height: 20px; */
    /* background: white; */
    justify-content: center !important;
    display: flex !important;
    margin: 20px auto !important;
    padding: 10px !important;
    border: solid 1px color black !important;
    /* border-radius: 5px !important; */
    color: rgb(210, 31, 31) !important;
}
.booking-form h1 {
    text-align: center !important;
}

.booking-form form {
    display: flex !important;
    flex-direction: column !important;
}

.booking-form input {
    padding: 8px !important;
    border: 1.3px solid #000 !important;
    /* border-radius: 5px !important; */
    font-size: 1.3rem !important;
}
.booking-form input:hover{
        border: 1.5px solid #d60555 !important;

}

.booking-form button {
    margin-top: 10px !important;
    padding: 10px !important;
    background-color: rgb(27, 143, 44);
    color: #fff !important;
    border: none !important;
    /* border-radius: 5px !important; */
    cursor: pointer !important;
    font-size: 1.5rem !important;

}

.booking-form label {
    font-size: 1.5rem !important;
}

.booking-form button:hover {
    color: white;
    background-color: darkgreen;
}
.booking-form input{
    color: #000 !important;
}


.booking-form button {
    width: 100%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: black;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
    background-color: rgb(39, 152, 4);
}
/* nrw css  */
.AM23{
        /* background: var(--gradient); */
        /* background-color: var(--primary-20); */
        background-color: #083d3d;
        box-shadow: var(--shadow-4);

}
.new-content h2{
    font-size: 40px;
    font-weight: bold;
    text-align: start;
}
.new-content{
    font-size: 18px;
    text-align: start;
}

.cardd:hover {
    box-shadow: 0 0 10px #e6e3e3;
    top: -5px;
}
.cardd {
    text-align: center;
/* background-color: #7cb2f8; */
background-color: #2f4f4ff7;
    border-radius: 6px;
    padding: 20px;
    margin: 5px 0;
    top: 0;
    position: relative;
    border: 1px solid #fee4e5;
    cursor: grab;
    height: 300px;
    color: #fff;
}

.cardd-icon {
    width: 100px;
    margin: 0 auto 58px;
    background-color: #30c927;
    justify-content: center;
border-radius: 50%;
    padding: 17px;
    margin-top: 20px;
}
/* cardd-icon img{
    background-color: #073333;
    padding: 40px;
} */

.cardd h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 4px 0;
}

.cardd p {
    font-size: 16px;
}

.Ab{
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;

}
.Ab:hover{
    color: #ffffff;
    background-color: #073333;
    transition: 53ms;
}
.reis-list li {
    width: 25%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 25px;
}
.reis-item .reis-title a {
    color: #333;
    text-decoration: none;
}
.reis-title{
    color: #000;
}
.reis-item .reis-msg {
    max-width: 80%;
    font-size: 13px;
    line-height: 22px;
    color: #555;
}
.reis-item .reis-rm {
    display: inline-block;
    background: #fff;
    border: 1px solid #9ecce6;
    color: #2a77a3;
    font-size: 14px;
    font-weight: 600;
    padding: 7px 15px;
    border-radius: 5px;
    margin-top: 10px;
    transition: all .3s ease;
}
.reis-item .reis-rm:hover{
    display: inline-block;
    background: #2a77a3;
    border: 1px solid #9ecce6;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 7px 15px;
    border-radius: 5px;
    margin-top: 10px;
    transition: all .3s ease;
}


.reis-item .reis-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #f5f5f5;
    line-height: 0;
    box-sizing: border-box;
    width: 100px;
    height: 90px;
    border-radius: 80px 0 0 0;
    padding: 25px 0 0 30px;
}

.reis-item {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px #ddd;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    border: solid 1px #eee;
    
}

.cp {
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    .reis-item {
        height: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #fff;
        padding: 15px 10px;
        border-radius: 15px;
        box-shadow: 0 0 10px #ddd;
        position: relative;
        font-family: 'Open Sans', sans-serif;
        overflow: hidden;
        border: solid 1px #eee;
    }
}
@media screen and (max-width: 800px) {
    .reis-list li {
        width: 33.33%;
        box-sizing: border-box;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 800px) {
    .reis-item .reis-title {
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        font-weight: 600;
        color: #222;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 800px) {
    .reis-item .reis-icon {
        position: static;
        padding: 0;
        display: flex
;
        align-items: center;
        justify-content: center;
        background: #eaf4ff;
        border-radius: 15px;
        margin-bottom: 10px;
    }
}

.reis-sec {
    background: #f7f7f7;
    padding: 45px 0 15px;
}

.fw {
    width: auto;
    max-width: 1152px;
    margin: auto;
}
@media screen and (max-width: 1200px) {
    .fw {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
    }
}
.reis-list {
    display: flex;

    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
@media screen and (max-width: 800px) {
    .reis-list {
        margin-left: -5px;
        margin-right: -5px;
        justify-content: center;
    }
}
@media screen and (max-width: 480px) {
    .reis-list li {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .reis-list li {
        width: 100%;
        box-sizing: border-box;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 1200px) {
    .fw {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media screen and (max-width: 800px) {
    .reis-sec {
        padding: 20px 0 0 0;
        box-shadow: 0px 0px 5px 5px #ccc;
    }
}
.reiit-sec {
    background: #fff;
    padding: 40px 0;
}
.reiit-list li {
    width: 25%;
    box-sizing: border-box;
    padding-left: 7px;
    padding-right: 7px;
}

.reiit-list .reiit-item {
    border: 1px solid #b8cee5;
    padding: 20px 15px;
    border-radius: 5px;
    height: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(#e9f3ff, #ffffff);
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.reiit-list .reiit-title {
    font-size: 16px;
    font-weight: 600;
    color: #365f89;
    line-height: 20px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
}
.reiit-list .reiit-sd {
    font-size: 13px;
    color: #777;
    line-height: 20px;
    margin-bottom: 20px;
}
.reiit-list .reiit-en-link {
    display: inline-block;
    border: 1px solid #b8cee5;
    border-radius: 5px;
    padding: 5px 15px;
    background: #fff;
    font-size: 14px;
    color: #365f89;
    transition: all 0.3s ease;
}

.reiit-list .reiit-img {
    width: 100%;
    height: 94px;
    display: flex
;
    align-items: center;
    justify-content: center;
    line-height: 0;
    margin-bottom: 15px;
}
@media screen and (max-width: 800px) {
    .reiit-list {
        margin-left: -5px;
        margin-right: -5px;
    }
}

.reiit-list {
    display: flex
;
    flex-wrap: wrap;
    margin: 0 -7px;
    padding: 0;
    list-style: none;
}
@media screen and (max-width: 480px) {
    .reiit-list .reiit-item {
        padding: 15px 10px;
    }
}
@media screen and (max-width: 800px) {
    .reiit-sec {
        box-shadow: 0px 0px 5px 5px #ddd;
    }
}

@media screen and (max-width: 800px) {
    .treaci-sec, .reiit-sec {
        padding: 20px 0;
    }
}
@media screen and (max-width: 800px) {
    .reiit-list .reiit-img img {
        max-width: 100%;
        width: auto;
        height: auto;
    }
}
@media screen and (max-width: 800px) {
    .reiit-list li {
        width: 100%;
        margin-bottom: 10px;
        padding-right: 5px;
        padding-right: 5px;
    }
}
@media screen and (max-width: 800px) {
    .sh-title {
        text-align: left;
        margin-bottom: 15px;
        padding-bottom: 7px;
        position: relative;
    }
}
.box_bg_01 {
    background: #f7f7f7;
    padding: 40px 0;
    font-family: 'Open Sans', sans-serif;
}
.lpfs-list {
    /* width: 100%; */
    height: 227px;
    overflow: hidden;
}
.lpfs-list .lpfs-img .bgs-cover {
    width: 100%;
    height: 110px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.lpfs-list .lpfs-info {
    padding: 10px;
    min-height: 115px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 16px;
}
.sale_rent {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    color: #fff;
    bottom: 10px;
    left: 1px;
}
.lpfs-info .lpfsi-rt-more {
    margin-top: 5px;
    color: #000;
}

.lpfs-info .lpfsi-rt-more span {
    border: solid 1px #9ecce6;
    color: #3980db;
    display: inline-block;
    padding: 4px 12px;
    border-radius: 4px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
}
.lpfs-info .lpfsi-bhk {
    margin: 2px 0 5px;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.lpfs-info .lpfsi-location {
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.lpfs-info .lpfsi-title {
    display: inline-block;
    margin-bottom: 4px;
    color: #000;
}
.lpfs-list {
    width: 100%;
    height: 227px;
    overflow: hidden;
}
.lpfs-list .lpfs-info {
    padding: 10px;
    min-height: 115px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 16px;
}
.sale_rent {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    color: #fff;
    bottom: 220px;
    left: 1px;
}
    /* float: left;
    list-style: none;
    position: relative;
    width: 220.667px;
    margin-right: 10px;
} */
.lpfs-list li {
    width: 212px;
    margin-right: 22px;
    /* float: left; */
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 3px;
}
.cp {
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    .sh-title h2 {
        text-align: left;
        margin-bottom: 15px;
        padding-bottom: 7px;
        position: relative;
    }
     .sh-title h1 {
        text-align: left;
        margin-bottom: 15px;
        padding-bottom: 7px;
        position: relative;
    }
}
.sh-title h2 {
    /* margin-bottom: 30px; */
    text-align: center;
}
.sh-title h1 {
    /* margin-bottom: 30px; */
    text-align: center;
}
.sh-title h2{
    font-size: 26px;
    color: #333;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(to right, #bf1112 35%, #000 20%,);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.sh-title h1{
    font-size: 46px;
    color: #333;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(to right, #bf1112 35%, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

/* hero section css end  */
.container{
    padding-inline: 16px;
    max-width: 580px;
    width: 100%;
    margin-inline: auto;
}
.section {
    padding-block-end: 60px;
}

.title-wrapper {
    margin-block-end: 32px;
}

.image-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--new-80-);
    overflow: hidden;
}

.img-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.badge {
    height: 20px;
    /* position: relative; */
    text-align: center;
    align-items: center;
    max-width: max-content;
    display: grid;
    place-items: center;
    padding-inline: 16px;
    background-color: var(--secondary-100);
    border-radius: var(--radius-small-);
    box-shadow: var(--shadow-3);
}

.card {
    border-radius: var(--radius-large-);
    overflow: hidden;
    box-shadow: var(--shadow-2);
    transition: var(--transition-duration) var(--transition-quick);
}

.card :where(:hover, :focus-within) {
    box-shadow: var(--shadow-4);
}

.card-banner {
    position: relative;
}

.card-banner .img-cover {
    transition: var(--transition-duration-smooth) var(--transition-quick);
}

.card :where(:hover, :focus-within) .img-cover {
    scale: 1.05;
    rotate: 2deg;
}

.card :where(.badge, .icon-btn) {
    position: absolute;
    top: 20px;
}

.card .badge {
    left: 20px;

}

.card .icon-btn {
    right: 20px;
    opacity: 0;
    visibility: hidden;
    scale: 0.8;
    transition: var(--transition-duration)var(--transition-quick);
}

.fav-btn {
    color: var(--error-100-);
}

.fav-btn.active .iconn {
    font-variation-settings: 'FILL' 1;

}

.new-p {}

.card-content {
    padding: 20px 20px 24px;
}

.title-large {
    margin-block: 8px;
    color: var(--new-20-);
}

.card :where(:hover, :focus-within) .icon-btn {
    scale: 1;
    opacity: 1;
    visibility: visible;
}

.card-title {
    margin-block: 8px;
    color: var(--new-20-);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: var(--transition-duration)var(--transition-quick);

}


.card-title :where(:hover, :focus-visible) {
    color: var(--primary-100);
}

.card-title {
    text-decoration: none;
}

.card-title:hover {
    color: var(--primary-100);
}

.card-text {
    color: var(--new-40-);
}

.card-meta-list {
    padding-block-start: 16px;
    margin-block-start: 16px;
    border-block-start: 1px solid var(--new-90-);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;

}

.card .meta-item {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--new-20-);
}

.property {
    padding-block-start: 60px;

}

.property .section-text {
    color: var(--new-30-);
    margin-block: 8px 16px;
}

.property-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px 1fr));
    gap: 16px;
}


/* popup css  */

.img-gallery{
width: 100%;
 margin: 100px auto 50px;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 grid-gap: 3px;

}
.img-gallery img{
   width: 100%;
cursor: pointer; 
}

/* feature-banner */
.feature-banner {
    aspect-ratio: 3 /2;
    overflow: hidden;
    border-radius: var(--radius-extra-large-);
}
.feature-item{
    display: flex;
    align-items: center;
}
.feature-conte {
    padding: 24px 16px 0;
}

.feature-conte .feature-text {
    margin-block: 16px;
}

.feature-text .feature-item {
    color: var(--new-30-);
}

.feature-list {
    display: grid;
    gap: 12px;
}

.feature-list {
    /* display: flex; */
    gap: 8px;
    align-items: center;
}

.feature-icon {
    color: var(--primary-100);
    font-size: 2.2rem;
}

.feature-item svg {
    color: var(--primary-color);

}


@media (min-width: 768px) {

    .feature-conte {
        padding-block-start: 32px;

    }

    .feature-conte .feature-text {
        margin-block: 16px 24px;
        line-height: 28px;
    }

    .feature-list{
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }}

    /* section  */




.carousel{
    width: 100%;
    height: 73vh;
    overflow: hidden;
    position: relative;
    /* margin-bottom: 50px; */
    /* margin-top: 20px; */
}
.carousel .list .item{
  width: 180px;
    height: 250px;
    position: absolute;
  top: 80%;
    transform: translateY(-70%);
    left: 70%;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
    transition: 1s;
    gap: 10px;
    /* width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0; */
}
.carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;


}

.carousel .list .item:nth-child(3){
    left: 67%;
}
.carousel .list .item:nth-child(4){
    left: calc(67% + 200px);
}
.carousel .list .item:nth-child(5){
    left: calc(67% + 400px);
}
.carousel .list .item:nth-child(6){
    left: calc(67% + 600px);
}
.carousel .list .item:nth-child(7){
    left: calc(67% + 800px);
    opacity: 0;
}
.item img{
        width: 100%;
height: 100%;
object-fit: cover;
} 

.item .content{
position: absolute;
top: 50%;
left: 100px;
color: #fff;
    /* box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3); */
text-shadow: 0 5px 10px #0004;
transform: translateY(-50%); 
text-align: left;
width: 400px;
display: none;
}
    

.content .title{
    font-size: 100px;
/* text-transform: uppercase;  */
   font-weight: bold;
       /* color: #14ff72cb; */
       line-height: 1;
       opacity: 0;
       color: #fff;
       /* color: rgba(32, 33, 114, 0.703); */
       animation: animate 1s ease-in-out 0.3s 1 forwards;
              text-shadow: 3px 4px 4px rgba(255,255, 255, 0.8);


}   

.content .name{
    font-size: 50px;
/* text-transform: uppercase;  */
   font-weight: bold;
       color: #fff;
       line-height: 1;
       text-shadow: 3px 4px 4px rgba(255,255, 255, 0.8);
              animation: animate 1s ease-in-out 0.6s 1 forwards;


}   
.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    margin-left: 5px;
           animation: animate 1s ease-in-out 0.9s 1 forwards;


}
.content .btn{
    margin-left: 5px;
           animation: animate 1s ease-in-out 1.2s 1 forwards;

}
.content .btn button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid #fff;
}
@keyframes animate{
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);

    }
    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}
.arrows{
    position: absolute;
    top: 80%;
    right: 68%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}
.arrows button{
    width: 50px;
height: 50px;
border-radius: 50%;
/* background-color: #14ff72cb; */
       /* color: rgba(32, 33, 114, 0.703); */
       /* background-color:  rgba(32, 33, 114, 0.703); */
           /* background-color: #fff; */
           background-color: #073333;



border: none;
outline: none;
font-size: 16px;
font-weight: bold;
transition: .5s;
cursor: pointer;
   /* color: black; */
   color: #fff;

}
.arrows button:hover{
    background-color: #fff;
    color: black;
}
.list .item:nth-child(2) .content{
    display: block;
}

.carousel .timeRunning{
position: absolute;
z-index: 1000;
width: 0%;
height: 4px;
background-color: #14ff72cb;
left: 0;
top: 0;
animation: runningTime 7s linear 1 forwards;
}

@keyframes runningTime{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }

}
@media screen and (max-width:992px){
    .item .content{
        left: 0px;
    }
    .content .title .content .name{
        font-size: 70px;
    }
    .content .des{
        font-size: 16px;
    }

}
@media screen and (max-width:690px){
    .item .content{
        top: 40%;
    }
    .content .time, .content .name{
        font-size: 45px;
    }
    .content .btn button{
        padding: 10px 15px;
        font-size: 14px;
    }
}


    /* scjkfsvsjkbvjs */

    /* card section start  */






/* new section  */




.vibh img{
    /* width: 500px; */
    width: 100%;
    height: 300px;
}
.vibhor img{
    /* width: 500px; */
    width: 100%;
    height: 500px;
    cursor: grabbing;
    border-radius: 6px;
    transition: var(--transition-smooth);
}


footer a{
    text-decoration: none;
}

/* .footer */

.social-list {
    display: flex;
    gap: 16px;
}
.Akhil .nav-link{
  color: #b4b6b8 !important;
}
.abhi p{
      font-size: 18px !important;
    /* margin-top: 1rem !important; */
  
  font-family: "Sen", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
  color: #b4b6b8 !important;
  /* 65676b */
}
.footer-btn{
      text-decoration: none;
    padding: 8px 20px !important;
    border-radius: 3px !important;
    /* border: 1px solid #0e0a0a; */
      /* background: linear-gradient(149deg, #161d16 15%, #ff0832 100%); */
color: #ede9e9 !important;
        font-family: "Inter", serif !important;
        font-size: large !important;
        background-color: rgb(94, 90, 90) !important;
}
.Akd input{
    border: 1px solid #b4b6b8;
    color: #ff0832;
}
/* * card section */ 
/* card section */


.wonders{
    padding-left: 0;
    /* align-items: center;
    justify-content: center;
    align-content: center; */
}

/* card section css  */
.card-wrapper {
    max-width: 1440px;
    overflow: hidden;
}



.wonders {
    padding-left: 0;
}





/* card section css end  */


.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: none!important;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: none!important;
}

@media screen and (max-width:700px){
    .ayush ul{
        align-items: start !important;
        padding: 15px;
    }
    .ayush li{
        gap: 20px;
    }
    .offcanvas-header{
        /* padding: 20px !important; */
        font-size: 15px;
    }
   
}
.project-img img{
    height: 500px;
    width: 100%;
}
@media screen and (max-width:700px){
    .project-img img{
 padding: 5px;
}
}

@media screen and (max-width:700px){
.nann ul{
    align-items: start;
}
}
.do-img{
width: 9rem !important;
height: 9rem !important;
margin: 0 auto !important;
border-radius: 50% !important;
padding: 20px;
background-color: rgba(6, 6, 198, 0.169);
/* border: 0.5rem solid rgb(8, 192, 8) !important; */
}

.do-detail h5{
    font-weight: 800 !important;
    color: var(--BLACK-color) !important;
    margin-bottom: 0 !important;
    padding-top: 1.5rem !important;
}
.do-detail p{
  font-size: 14px;
       padding-top: 1.5rem !important;

  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #595b5d !important;
}
.img-title{
    /* border-radius: 15%; */
    border-radius: 3px ;
    box-shadow: var(--box-shadow);
}
.card-hover:hover{
    background-color: #bf0aec !important;
    cursor: pointer;
    transition: 2s;
}
.card-hover:hover p{
    color: #fff !important;
}
.card-hover:hover .do-img{
    background-color: #fff !important;
}
.card-hover:hover h5{
    color: #fff !important;
}
.contact .get-in-touch .cardn:hover {
    background-color: rgb(242, 245, 222) !important;
  
}
@media screen and (max-width:600px){
    .card-hover{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
.card-ti{
    
}